@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
//$blue: #06bcef;
// Add pink and its invert
//$pink: #ff8080;
//$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
//$primary: $pink;
//$primary-invert: $pink-invert;

// 4. Import the rest of Bulma

$body-background-color: #292d2e;
$tabs-boxed-link-hover-background-color: #3b4252;
$tabs-link-hover-color: #5e81ac;
$tabs-link-active-color: #5e81ac;
$tabs-boxed-link-active-background-color: #2e3440;
$tabs-boxed-link-active-border-color: #2e3440;
$tabs-border-bottom-color: #2e3440;
$tabs-boxed-link-hover-border-bottom-color: #2e3440;

@import "../node_modules/bulma/bulma";

html {
  max-width: 90ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

// Replaced by the above, found at: https://gist.github.com/JoeyBurzynski/617fb6201335779f8424ad9528b72c41
/*.content {
	padding:2%;
}*/

.left-content {
	text-align: right;
}

h2.title {
	color: $primary;
}

hr {
	height:1px;
	background-color: $primary-dark;
	border: none;
}

.post-content > h3 {
	color: $primary-dark;
}
.post-content > h4 {
	color: $white;
}
.post-content > p {
	color: $primary-light;
}

.footer {
	background-color: $dark;
	color: $primary-light;
}

a:hover {
	color: $primary-light;
}

